@media screen and (max-width: 1450px) {
    .main-menu .menu-item .menu-subitem__left {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
    }

    .main-menu .menu-item .menu-subitem__right {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .article .content-block__item .content-block__item-rating {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .article .content-block__item .content-block__item-rating {
        width: 115px;
        height: 75px;
        position: static;
        margin-right: 15px;
        float: left;
    }
}

@media (min-width: 992px) {
    .content-block__table-arrow {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .article .content-block__item .content-block__item-rating {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .article .content-block__item .content-block__item-rating {
        width: 115px;
        height: 75px;
        position: static;
        margin: 0 35px 10px 0;
        float: left;
    }
}

@media screen and (max-width: 1300px) {
    .carousel-arrows.left {
        left: -20px;
    }

    .carousel-arrows.right {
        right: -20px;
    }
}

@media screen and (max-width: 1199px) {
    /* content block table fixed row */
    .article .content-block__table table tr.table-fixed-row th {
        min-width: 183px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(2) {
        min-width: 181px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(3) {
        min-width: 172px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(4) {
        min-width: 157px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(5) {
        min-width: 87px;
    }
    /* content block table fixed row */
}

@media screen and (max-width: 991px) {
    .row-margin-fix {
        margin: 0 -15px;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 20;
    }

    .content {
        margin-top: 55px;
    }

    .header-top {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0;
        position: relative;
        height: 56px;
    }

    .header .logo {
        height: 34px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .search-toggle-btn {
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: #ff0125;
        cursor: pointer;
    }

    .header-top .search {
        display: none;
        position: absolute;
        top: 110%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .header-top .search.activated {
        display: block;
    }

    .header-top .right-text {
        display: none;
    }

    .header-bottom {
        display: none;
    }

    .mob-menu__burger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .banner-block__title span,
    .content .content-block__banner-text span {
        height: auto;
        line-height: initial;
        font-size: 55px;
    }

    .content .content-block__banner-text span:last-child {
        height: auto;
    }

    .latest-reviews .right-block {
        margin-top: 35px;
    }

    .latest-reviews .right-block .col-sm-12:last-child {
        margin-top: 35px;
    }

    .footer-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-nav__block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-block .content-block__title-text {
        margin-top: 0;
    }

    .trending-block .content-block__latest-big {
        margin: 0 15px;
    }

    .content-block__latest-small-img {
        width: 100%;
    }

    .content-block__latest-big-img {
        width: 100%;
    }

    .about-block .content-block__latest-big-img {
        margin-top: 40px;
    }

    .footer-nav__copyright, .footer-nav__list, .socials {
            margin-top: 30px;
    }

    .footer-menu__block {
        margin-top: 48px;
        width: 150px;
    }

    .about-block {
        margin: 0;
    }

    .footer-nav__container .socials li:first-child a {
        margin-left: 0;
    }

    .category-block .right-block .row:first-child .content-block__latest-small {
        margin-top: 35px;
    }

    .article .right-block {
        margin-top: 50px;
    }

    .bottom-banner {
        padding: 20px 0;
    }

    .todays-deals__slick {
        margin-bottom: 20px;
    }

    .content-block__title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .content-block__table-wrapper {
        position: relative;
    }

    .article .content-block__table {
        overflow-x: auto;
    }

    .article .content-block__table table tbody tr td {
        padding: 10px;
    }

    .content-block__table-arrow {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        right: 0;
        top: 0;
        z-index: 15;
        bottom: 0;
        width: 75px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(80%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    }

    /* content block table fixed row */
    .article .content-block__table table tr.table-fixed-row th {
        min-width: 183px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(2) {
        min-width: 181px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(3) {
        min-width: 172px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(4) {
        min-width: 157px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(5) {
        min-width: 87px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(6) {
        min-width: 159px;
    }
    /* content block table fixed row */

    .carousel-arrows.left {
        left: 20px;
        z-index: 9;
        background: rgba(0,0,0,.3);
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        color: #ffffff;
    }

    .carousel-arrows.right {
        right: 20px;
        z-index: 9;
        background: rgba(0,0,0,.3);
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        color: #ffffff;
    }

    .article .banner-block__title>span {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .article .content-block__item .content-block__item-rating {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .article .content-block__item .content-block__item-rating {
        width: 115px;
        height: 75px;
        position: static;
        margin: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .banner-block__title span,
    .content .content-block__banner-text span {
        height: auto;
        line-height: initial;
        font-size: 45px;
    }

    .article .banner-block__title>span {
        font-size: 20px;
    }

    .article .banner-block__subtitle>span {
        font-size: 14px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .article .article-block__pros-and-cons .pros,
    .article .article-block__pros-and-cons .cons {
        height: auto;
    }

    .article .content-block__item .check-btn {
        margin: 0;
    }

    .article .article-block .article-block__img {
        max-height: initial;
        width: 100%;
    }

    .article .article-block .article-block__img img {
        width: 100%;
    }

    .article .article-block .article-block__img-text {
        bottom: 3px;
    }

    .article .article-block__info p,
    .content.article .article-block.content-block p {
        font-size: 16px;
    }

    .article .article-block__info p+p,
    .content.article .article-block.content-block p+p {
        margin-top: 6px;
    }

    .content-block__title-text {
        font-size: 20px;
    }

    .content-block__title-text span {
        font-size: 20px;
    }

    .article .article-block__pros-and-cons-block {
        border: 1px solid #e8e8e8;
    }

    .article .article-block__pros-and-cons-block + .article-block__pros-and-cons-block {
        border-left: 1px solid #e8e8e8;
        margin-top: 20px;
    }

    .article .article-block__pros-and-cons .cons, .article .article-block__pros-and-cons .pros {
        font-size: 14px;
    }
    
    .content-block__table-wrapper:after {
        width: 80px;
    }

    .content-block__table-arrow {
        width: 50px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(70%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    }
}

@media screen and (max-width: 480px) {
    .content .content-block__banner-text span {
        font-size: 40px;
    }

    ul.footer-nav__list, ul.footer-nav__copyright {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-nav__list li+li {
        padding-left: 0;
        border-left: none;
        margin-top: 5px;
    }

    .footer-nav__copyright li+li {
        display: inline-block;
        margin-top: 5px;
    }

    .footer-nav__copyright li+li a {
        padding-left: 0;
        border-left: none;
    }

    .header-top .right-text {
        text-align: center;
    }

    .banner-block__title span {
        font-size: 30px;
    }

    .content-block__title span {
        font-size: 20px;
    }

    .bottom-banner {
        display: none;
    }

    .footer-menu__block {
        width: 130px;
    }

    .footer-menu__list li {
        line-height: unset;
        margin-top: 12px;
    }

    .article .article-block__pros-and-cons .cons,
    .article .article-block__pros-and-cons .pros {
        padding: 15px 15px 15px 79px;
        height: 58px;
    }

    .article .article-block__info p,
    .content.article .article-block.content-block p {
        font-size: 14px;
    }

    .article .article-block__info {
        padding: 25px 0;
    }

    .content-block__table-wrapper {
        padding: 0 1px;
    }

    .article .content-block__table table tbody tr td {
        padding: 10px 5px;
    }
    
    .content-block__table-wrapper:after {
        width: 60px;
    }

    .content-block__table-arrow {
        width: 50px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(60%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    }

    /* content block table fixed row */
    .article .content-block__table table tr.table-fixed-row th {
        min-width: 187px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(2) {
        min-width: 189px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(3) {
        min-width: 169px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(4) {
        min-width: 155px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(5) {
        min-width: 90px;
    }

    .article .content-block__table table tr.table-fixed-row th:nth-child(6) {
        min-width: 150px;
    }
    /* content block table fixed row */
}

@media screen and (max-width: 400px) {    
    .content-block__table-wrapper:after {
        width: 60px;
    }
}