@import url('fonts.css');

/* STYLE RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body * {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header>.row>.col-md-12 {
	padding: 0;
}
img {
	max-width: 100%;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 100%;
}
.container-fluid>.row {
	margin: 0;
}
/* STYLE RESET END */


/* CUSTOM STYLES START */
.clear {
	clear: both;
}

.red-text {
	color: #ff0125;
}

.bold-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
}

.btn {
	min-width: 84px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 1px solid rgba(100, 105, 109, 0.34);
	background-color: #ffffff;
	color: #25282a;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .7px;
}

.btn:hover {
	background-color: #4cc95a;
	border-color: #4cc95a;
	color: #ffffff;
}

.arrow-span {
	display: inline-block;
	position: relative;
	bottom: 3px;
	width: 5px;
	height: 5px;
	border: 1px solid;
	border-color: #000 #000 transparent transparent;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.todays-deals__price .old-price {
	color: #626262;
	font-size: 18px;
	text-decoration: line-through;
}

.content-block__title {
	margin-top: 50px;
}

.row-margin-fix {
	margin: 0 -30px;
}

.content-block {
	margin-top: 29px;
	margin-bottom: 50px;
}

.content-block__title-text {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 400;
}

.content-block__title-text span {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Bold", sans-serif;
	font-weight: 700;
}

.content-block__title .more-link {
	color: #25282a;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: .7px;
	vertical-align: center;
	float: right;
}
/* CUSTOM STYLES END */


/* HEADER STYLES START */
.header-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: #191c1f;
	padding: 15px 28px;
}

.logo a {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.logo span {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	background-color: #ff0125;
	padding: 3.5px 9px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	position: relative;
	margin-left: 11px;
}

.logo span:after {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-color: #ff0125;
	top: 100%;
	left: 12px;
}

.search .form-group {
	position: relative;
	margin: 0;
}

.search .form-group input {
	width: 32vw;
	min-width: 300px;
	height: 40px;
	padding: 10px 21px;
	font-size: 13px;
	color: #b0b0b0;
	font-family: 'RobotoCondensed', sans-serif;
	border: none;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	background-color: #25282a;
}

.search .form-group input::-webkit-input-placeholder {
	color: #b0b0b0;
}

.search .form-group input::-moz-placeholder {
	color: #b0b0b0;
}

.search .form-group input:-ms-input-placeholder {
	color: #b0b0b0;
}

.search .form-group input::-ms-input-placeholder {
	color: #b0b0b0;
}

.search .form-group input::placeholder {
	color: #b0b0b0;
}

.search .form-group input:focus {
	outline: none;
	background-color: #ffffff;
	color: #191c1f;
}

.search .form-group input:focus::-webkit-input-placeholder {
	color: #191c1f;
}

.search .form-group input:focus::-moz-placeholder {
	color: #191c1f;
}

.search .form-group input:focus:-ms-input-placeholder {
	color: #191c1f;
}

.search .form-group input:focus::-ms-input-placeholder {
	color: #191c1f;
}

.search .form-group input:focus::placeholder {
	color: #191c1f;
}

.search .form-group input:focus::-ms-input-placeholder {
	color: #191c1f;
}

.search .form-group input:focus + button {
	background: transparent url(../img/icons/search-red-icon.png);
}

.search .form-group button {
	position: absolute;
	top: 50%;
	right: 21px;
	width: 20px;
	height: 20px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	background: transparent url(../img/icons/search-icon.png);
	border: none;
	outline: none;
}

.header .right-text span {
	font-size: 15px;
	color: #8e8e8e;
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.75px;
}

.main-menu {
	background-color: #25282a;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	position: relative;
}

.main-menu .menu-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1;
	    -ms-flex: 1 1;
	        flex: 1 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
	border-top: 2px solid transparent;
	border-right: 1px solid #000000;
	border-left: 1px solid #34383a;
	border-bottom: 2px solid transparent;
}

.main-menu .menu-item a {
	text-decoration: none;
	text-align: center;
}

.main-menu .menu-item a > span {
	color: #ffffff;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .7px;
}

.main-menu .menu-item:hover {
	background-color: #191c1f;
	border-bottom: 2px solid #ff0128;
}

.main-menu .menu-subitem {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	background-color: #0a0b0c;
	opacity: 0.98;
	z-index: 15;
	padding: 40px 57px;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-menu .menu-item:hover .menu-subitem {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.main-menu .menu-item .menu-subitem__left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-basis: 60%;
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	height: 207px;
}

.main-menu .menu-item .menu-subitem__left li {
	color: #d0d0d0;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	padding: 15px 0;
	width: 200px;
}

.main-menu .menu-item .menu-subitem__left li:hover {
	color: #ff0125;
}

.main-menu .menu-item .menu-subitem__left li + li {
	border-top: 1px solid #232222;;
}

.main-menu .menu-item .menu-subitem__right {
	-webkit-flex-basis: 40%;
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
}

.main-menu .menu-item .menu-subitem__right > span {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 15px;
}

.menu-subitem__right-block {
	margin-top: 19px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-height: 170px;
}

.menu-subitem__right-block > div:first-child {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
}

.menu-subitem__right-block > div:last-child {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
}

.menu-subitem__right-block:after {
	content: '';
	clear: both;
}

.menu-subitem__right-block .content-block__latest-small-date {
	margin-top: 0;
}

.menu-subitem__right-block .content-block__small-title span {
	color: #ffffff;
}

.menu-subitem__right-block .content-block__latest-small-text {
	color: #626262;
}

.menu-subitem__right-block img {
	max-height: 175px;
}

.mob-menu__burger {
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	cursor: pointer;
}

.mob-menu__burger span {
	display: inline-block;
	width: 30px;
	height: 5px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	background-color: #fff;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: -300px;
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	height: 100vh;
	width: 250px;
	padding: 25px;
	z-index: 15;
	background-color: rgba(0,0,0,.8);
}

.mob-menu.activated {
	left: 0;
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
}

.mob-menu .menu-item {
	margin-bottom: 10px;
}

.mob-menu .menu-item a {
	text-decoration: none;
}

.mob-menu .menu-item span {
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
}
/* HEADER STYLES END */


/* MAIN STYLES START */
.content .content-block__banner {
	background: -webkit-gradient(
			linear,
			left top, left bottom,
			from(rgba(11, 11, 11, 0.72)),
			to(rgba(11, 11, 11, 0.72))
	), url("../img/background-1.jpg") no-repeat;
	background: -webkit-linear-gradient(
			rgba(11, 11, 11, 0.72),
			rgba(11, 11, 11, 0.72)
	), url("../img/background-1.jpg") no-repeat;
	background: -o-linear-gradient(
			rgba(11, 11, 11, 0.72),
			rgba(11, 11, 11, 0.72)
	), url("../img/background-1.jpg") no-repeat;
	background: linear-gradient(
			rgba(11, 11, 11, 0.72),
			rgba(11, 11, 11, 0.72)
	), url("../img/background-1.jpg") no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
	background-position-y: 40%;
}

.content .content-block__banner-text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	height: 440px;
}

.content .content-block__banner-text span {
	text-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	height: 51px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 70px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.content .content-block__banner-text span:last-child {
	background-color: #191c1f;
	height: 90px;
	padding: 20px;
	margin-top: 22px;
}


/* latest reviews block styles start*/
.content-block__latest-big-date {
	color: #6c6c6c;
	margin-top: 19px;
}

.content-block__latest-big-date span {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.content-block__big-title {
	color: #25282a;
	margin-top: 28px;
}

.content-block__big-title a {
	color: #25282a;
	text-decoration: none;
}

.content-block__big-title span {
	font-size: 24px;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.content-block__big-text {
	color: #494747;
	margin-top: 24px;
}

.content-block__big-text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.content-block__big-text p + p {
	margin-top: 30px;
}

.content-block__latest-big .btn {
	margin-top: 26px;
}

.content-block__latest-small-date {
	color: #6c6c6c;
	margin-top: 19px;
}

.content-block__latest-small-date span {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.content-block__small-title {
	margin-top: 12px;
}

.content-block__small-title a {
	color: #25282a;
	text-decoration: none;
}

.content-block__small-title a:hover {
	color: #ff0125;
}

.content-block__small-title span {
	font-size: 18px;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
}

.content-block__latest-small-text {
	color: #484747;
	margin-top: 15px;
}

.content-block__latest-small-text p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.right-block .row + .row .content-block__latest-small {
	margin-top: 35px;
}
/* latest reviews block styles end*/

/* today's deals block styles start */
.todays-deals {
	background-color: #f8f8f8;
}

.todays-deals__img {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	        background-size: cover;
	overflow: hidden;
	position: relative;
}

.todays-deals__img img {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	height: 100%;
	max-width: unset;
}

.todays-deals__img:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.todays-deals__title {
	margin-top: 15px;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.todays-deals__title a {
	color: #25282a;
	text-decoration: none;
}

.todays-deals__price span {
	margin-top: 15px;
	font-family: 'Roboto-Regular', sans-serif;
	color: #4cc95a;
	font-size: 24px;
	font-weight: 400;
}

.btn.todays-deals__btn {
	width: 90%;
	margin: 17px 5% 0;
	height: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.todays-deals__slick {
	overflow: hidden;
}

.todays-deals__slick .block {
	margin: 0 5px;
}
/* today's deals block styles end */


/* about block styles start */
.about-block {
	margin: 65px;
	padding: 34px 0;
	background: url("../img/background-2.png") 0 0 no-repeat;
	-webkit-background-size: contain;
	        background-size: contain;
	background-position-y: 50%;
}

.about-block .content-block__title-text {
	display: inline-block;
	margin-top: 135px;
}

.about-block .content-block__big-text {
	margin-top: 15px;
}

.about-block .content-block__small-title {
	margin-top: 30px;
}
/* about block styles end */

/* trending block styles start */
.trending-block {
	margin-bottom: 50px;
}

.trending-block .divider {
	border-top: 3px solid #f8f8f8;
	margin: 0;
}
.trending-block .content-block__latest-big-img {
	margin-top: 16px;
}
.trending-block .content-block__latest-big-date {
	color: #6c6c6c;
	margin-top: 15px;
}

.trending-block .content-block__small-title {
	margin-top: 13px;
}

.trending-block .content-block__latest-small-img {
	margin-top: 16px;
}
/* trending block styles end */


/* bottom banner block styles start */
.bottom-banner {
	background-color: #f8f8f8;
	padding: 50px 0;
}
a.ad-link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 200px;
	overflow: hidden;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/* bottom banner block styles end */

/* MAIN STYLES END */


/* FOOTER STYLES START */
.footer {
	background: #191c1f url("../img/background-3.png") bottom no-repeat;
}

.footer-title {
	color: #ffffff;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 45px;
}

.footer-title .red-text {
	text-decoration: none;
}

.footer-title .red-text:hover {
	color: #ff0125;
}

.footer-menu {
	margin: 48px 0;
}

.footer-menu__block + .footer-menu__block {
	margin-top: 48px;
}

.footer-menu__title .footer-menu__title-text {
	color: #ffffff;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-menu__list {
	list-style: none;
	margin-top: 14px;
}

.footer-menu__list li {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.footer-menu__list li a {
	color: #d0d0d0;
	text-decoration: none;
}

.footer-menu__list li a:hover {
	color: #ff0125;
}

.footer-nav__container {
	background-color: rgba(129, 129, 129, .1);
}

.footer-nav__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 46px;
}

.footer-nav__container .row + .row .footer-nav__block {
	margin-top: 36px;
	margin-bottom: 52px;
}

.footer-nav__copyright,
.socials,
.footer-nav__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.footer-nav__list li {
	padding-right: 20px;
}

.footer-nav__list li a {
	color: #ffffff;
	font-family: 'Roboto-Bold', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}

.footer-nav__list li + li {
	padding-left: 20px;
	border-left: 2px solid #ffffff;
}

.footer-nav__container .socials li a {
	width: 32px;
	height: 32px;
	-webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 16px;
	        border-radius: 16px;
	background-color: #000000;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	margin-left: 13px;
}

.footer-nav__container .socials li a:hover {
	background-color: #2200f2;
}

.footer-nav__copyright li {
	color: #818181;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 12px;
	font-weight: 300;
}

.footer-nav__copyright li a {
	color: #818181;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
	padding-right: 5px;
}

.footer-nav__copyright li + li a {
	padding-left: 5px;
	border-left: 1px solid #818181;
}
/* FOOTER STYLES END */