@import url('fonts.css');

/* STYLE RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body * {
	font-family: 'Museo Sans Cyrl 500';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header>.row>.col-md-12 {
	padding: 0;
}
img {
	max-width: 100%;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 100%;
}
.container-fluid>.row {
	margin: 0;
}
/* STYLE RESET END */


/* CUSTOM STYLES START */
.text-green {
	color: #14662d;
}
.text-orange {
	color: #ffd800;
}
.icon {
	display: inline-block;
}
.icon-round {
	min-width: 57px;
	min-height: 57px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 3px solid #14662d;
	-webkit-border-radius: 30px;
	        border-radius: 30px; 
	background-color: #ffffff;
	margin: 0 13px;
}
.btn {
	font-size: 14px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	font-family: "Museo Sans Cyrl 700";
	text-transform: uppercase;
	padding: 13px 0;
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(206, 95, 6, 0.3);
            box-shadow: 0 0 10px rgba(206, 95, 6, 0.3);
}
.btn:active,
.btn:focus {
	outline: none;
}
.btn-big {
	font-size: 19px;
	padding: 17px 0;
}
.btn-orange {
	color: #ffffff;
	background: -webkit-linear-gradient(135deg, #fbac00 0%, #ffb267 100%);
	background: -o-linear-gradient(135deg, #fbac00 0%, #ffb267 100%);
	background: linear-gradient(-45deg, #fbac00 0%, #ffb267 100%);	
}
.btn-orange:hover {
	background: #ffffff;
	color: #ffaf00;
}
.btn-green {
	border: 3px solid #33cc33;
	background-color: #ffffff;
	color: #14662d;
}
.btn-green:hover {
	background-color: #14662d;
	color: #ffffff;
}
.btn-white {
	color: #ffaf00;
	border: 3px solid #fcae27;
	background-color: #ffffff;
}
.btn-white:hover {
	color: #ffffff;
	background-color: #ffaf00;
}
.flex-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.centered {
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.justify-sb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.aa-font {
	font-family: 'AA';
}
.big-text {
	font-size: 29px;
	font-weight: 400;
}
.small-text {
	font-size: 13px;
	font-weight: 300;
}
.phone-number a{
	color: #222225;
	font-family: "Museo Sans Cyrl 700";
	font-size: 26px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 11px !important;
}
.text-upper {
	text-transform: uppercase;
}
.text-title {
	display: inline-block;
	color: #000000;
	font-family: "Museo Sans Cyrl 700";
	font-size: 16px;
	margin-bottom: 13px;
}
.text-paragraph {
	color: #000000;
	font-family: "Museo Sans Cyrl 300";
	font-size: 14px;
}
.block-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 77px 0;
}
.block-title__text {
	color: #000000;
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	text-transform: uppercase;
}
.block-title__stripe-green {
	width: 71px;
	height: 8px;
	background-color: #14662d;
	margin-top: 18px;
}
.block-title__stripe-yellow {
	width: 71px;
	height: 8px;
	background-color: #f2c149;
	margin-top: 18px;
}
/* CUSTOM STYLES END */


/* MAIN STYLES START */

/*mobile menu styles start*/
.burger {
	display: none;
    position: fixed;
    width: 40px;
    height: 35px;
    background: rgba(0,0,0,.5);
    top: 10px;
    right: 12px;
    z-index: 999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.burger span {
	display: inline-block;
	width: 35px;
	border: 3px solid #ffffff;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.header-mob {
	display: none;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 257px;
    padding: 20px;
}
.header-mob a{
	display: inline-block;
    padding: 10px;
    margin: 5px 0;
    color: #ffffff;
}
.active {
	display: block;
}
/*mobile menu styles end*/

/*header styles start*/
.header-top {
	padding: 20px 0 15px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header-top__block {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header-top__prices * {
	font-family: "Museo Sans Cyrl 700";
	font-size: 14px;
}
.header-top__prices a {
	margin-left: 12px;
	color: inherit;
	text-decoration: none;
}
.header-top__prices:hover a span {
	color: #14662d;
	text-decoration: underline;
}
.header-top__text {
	margin-left: 45px;
}
.header-top__list ul li+li {
	margin-left: 40px;
}
.header-middle {
	padding: 12px 0;
}
.header-middle__text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 20px;
}
.header-middle__text span + span {
	margin-top: 10px;
}
.header-middle__contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.header-middle__button {
	margin-left: 20px;
	width: 178px;
}
.header-middle__email a {
	color: #14662d;
}
.header-bottom {
	background-color: #eeeeee;
}
nav.header-nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header-nav a {
	display: inline-block;
	color: #222225;
	font-family: "Museo Sans Cyrl 500";
	font-size: 12px;
	line-height: 24px;
	padding: 11px 0;
	white-space: nowrap;
	border-top: 6px solid transparent;
	text-decoration: none;
}
.header-nav a:hover {
	color: #14662d;
	font-family: "Museo Sans Cyrl 900";
	border-top: 6px solid #54bb4c;
}
/*header styles end*/

/*main banner styles start*/
.main-banner {
    padding: 107px 0;
	background: url(../img/main-banner-img.png) no-repeat;
	-webkit-background-size: 100% auto;
	        background-size: 100% auto;
	background-position-y: 90%;
	-webkit-clip-path: ellipse(125% 100% at 51% 0px);
	        clip-path: ellipse(125% 100% at 51% 0px);
}
.main-banner * {
	max-width: 100%;
}
.main-banner .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-banner__title span {
	color: #ffffff;
	display: inline-block;
	font-family: "Museo Sans Cyrl 900";
	font-size: 36px;
	padding-left: 15px;
	border-left: 12px solid #ffffff;
}
.main-banner__info {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 85px;
}
.main-banner__img {
    width: 221px;
    height: 148px;
    -webkit-border-top-left-radius: 64px;
            border-top-left-radius: 64px;
    overflow: hidden;
	position: absolute;
	z-index: 1;
}
.main-banner__img img {
    width: 120%;
    margin-left: -13%;
}
.main-banner__text {
    -webkit-border-radius: 50px 50px 0 0;
            border-radius: 50px 50px 0 0;
    background-color: #171403;
    opacity: 0.9;
    width: 100%;
	padding: 30px 5px 20px 270px;
}
.main-banner__text-bottom {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 500";
	font-size: 16px;
	margin-top: 15px;
}
.main-banner__text-bottom span.text-orange {
	color: #ffd800;
	font-family: "Museo Sans Cyrl 900";
	line-height: 20px;
}
.main-banner__offer {
	font-family: "Museo Sans Cyrl 900";
	font-size: 26px;
	line-height: 20px;
}
.main-banner__form {
	border: 5px solid #d5d5d5;
	background-color: #ffffff;
	position: relative;
	padding: 30px;
    padding-top: 45px;
}
.main-banner__form-img {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -45px;
    left: -45px;
	background: url(../img/journal.png) no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
}
.main-banner__form-title {
	color: #000000;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}
.main-banner__form-title .text-orange {
	font-family: "Museo Sans Cyrl 900";
}
.main-banner__form form {
	width: 100%;
    margin-top: 21px;
}
.main-banner__form .form-group {
	position: relative;
}
.main-banner__form input{
	margin-top: 7px;
	height: 48px;
	width: 100%;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
	        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
	border: 1px solid rgba(213, 213, 213, 0.77);
	background-color: #f4f4f4;
	padding-left: 47px;
}
.main-banner__form input::-webkit-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.main-banner__form input::-moz-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.main-banner__form input:-ms-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.main-banner__form input::-ms-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.main-banner__form input::placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.main-banner__form label{
	position: absolute;
    top: 23px;
    left: 18px;
}
.main-banner__form .btn{
	margin-top: 14px;
}
/*main banner styles end*/

/*how to block styles start*/
.how-to.container {
    padding-top: 43px;
    padding-bottom: 43px;
    border-bottom: 1px solid hsla(0,0%,84%,.77);
}
.how-to__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.how-to__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.how-to__text {
    width: 88%;
}
/*how to block styles end*/

/*why us block styles start*/
.why-us .flex-block {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.why-us__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
}
.why-us__img {
    margin-bottom: 31px;
}
/*why us block styles end*/

/*stripe 1 block styles start*/
.stripe-1 {
	color: #ffffff;
	background: url(../img/stripe-1.png) 0 -450px no-repeat;
	margin-top: 77px;
}
.stripe__background {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 0;
}
.stripe-1__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.stripe-1__number {
	font-family: "Museo Sans Cyrl 700";
	font-size: 58px;
	line-height: 75%;
    margin: 36px 0;
    padding-right: 14px;
    border-right: 6px solid #f7d968;
    margin-right: 11px;
}
/*stripe 1 block styles end*/

/*advantages block styles start*/
.advantages {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.advantages .flex-block {
	padding-bottom: 127px;
}
.stripe__background-white {
	background: url(../img/transparent-1.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 0;
}
.advantages__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.advantages-block__img {
    width: 422px;
    height: 422px;
    background: url(../img/bordur.png) -50px -20px no-repeat;
    -webkit-background-size: 119% 107%;
            background-size: 119% 107%;
    -webkit-border-radius: 211px;
            border-radius: 211px;
    position: absolute;
}
.advantages-block__img-man {
	width: 176px;
	height: 442px;
    background: url(../img/man.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    position: absolute;
	right: -25px;
    bottom: -115px;
}
.right .advantages__block p {
    margin-left: 10%;
}

.advantages__block p {
    max-width: 70%;
}
.advantages-block__grass {
	width: 100%;
	height: 80px;
    background: url(../img/grass.png) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    position: absolute;
    bottom: 0;
}
.advantages__block + .advantages__block {
	margin-top: 48px;
}
.advantages__center-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.right {
	text-align: right;
}
/*advantages block styles end*/

/*stripe 2 block styles start*/
.stripe-2 {
    border: 5px solid #d5d5d5;
    padding-top: 46px;
    padding-bottom: 20px;
}
.stripe-2 .main-banner__form-title {
	text-align: center;
}
.stripe-2 form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;	
}
.stripe-2 form>* {
    max-width: 30%;
}
.stripe-2 .form-group {
	position: relative;
	margin: 0;
}
.stripe-2 input {
	margin: 0;
}
.stripe-2 input{
	margin-top: 7px;
	height: 48px;
	width: 100%;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
	        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
	border: 1px solid rgba(213, 213, 213, 0.77);
	background-color: #f4f4f4;
	padding-left: 47px;
}
.stripe-2 input::-webkit-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.stripe-2 input::-moz-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.stripe-2 input:-ms-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.stripe-2 input::-ms-input-placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.stripe-2 input::placeholder{
	color: #9d9d9d;
	font-family: "Museo Sans Cyrl 500";
	font-size: 13px;
	line-height: 20px;
}
.stripe-2 label{
	position: absolute;
    top: 23px;
    left: 18px;
}
.stripe-2__bottom-text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin-top: 27px;
}
.stripe-2__bottom-text span {
	margin-left: 15px;
}
/*stripe 2 block styles end*/

/*our bordures block styles start*/
.our-bordures {
	background: url(../img/transparent-2.png) no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
}
.our-bordures__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.our-bordures__info-block {
	background: #ffffff;
	padding: 35px 40px;
}
.our-bordures .block-title__text {
	color: #ffffff;
}
.our-bordures__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.our-bordures__row + .our-bordures__row {
	margin-top: 24px;
}
.our-bordures__title {
    -webkit-box-shadow: 0 0 10px rgba(156, 156, 156, 0.3);
            box-shadow: 0 0 10px rgba(156, 156, 156, 0.3);
    background-color: #f8f8f8;
    padding: 32px 0 21px 40px;
}
.our-bordures__title span{
	color: #000000;
	font-family: "Museo Sans Cyrl 700";
	font-size: 18px;
	text-transform: uppercase;	
}
.our-bordures__info {
    padding-left: 13px;
}
.our-bordures__info ul li {
	font-size: 13px;
	line-height: 18px;
	position: relative;
}
.our-bordures__info ul li:before {
    content: '•';
    font-size: 16px;
    position: absolute;
    left: -13px;
    color: #14662d;
}
.our-bordures__info-title {
	color: #000000;
	font-size: 14px;
	font-family: "Museo Sans Cyrl 900";
	line-height: 35px;
}
.our-bordures__img {
	margin-right: 30px;
}
.our-bordures__characteristics div span:first-child {
	color: #000000;
	font-family: "Museo Sans Cyrl 300";
	font-size: 14px;
	line-height: 35px;
}
.our-bordures__characteristics div span:last-child {
	font-family: "Museo Sans Cyrl 900";
}
.our-bordures__price-block {
    width: 50%;
}
.our-bordures__characteristics {
	width: 42%;
}
.our-bordures__characteristics div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.our-bordures__price-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.our-bordures__price-block .price-title {
	color: #000000;
	font-family: "Museo Sans Cyrl 900";
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
}
.our-bordures__price-block .price-strike {
	color: #8b8b8b;
	font-family: "Museo Sans Cyrl 300";
	line-height: 28px;
	text-decoration: line-through;
}
.our-bordures__price-block .price {
	color: #000000;
	font-family: "Museo Sans Cyrl 900";
	font-size: 23px;
	line-height: 27px;
}
.our-bordures__price-block .btn {
	margin-top: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.our-bordures__price-block .btn .icon-shopping-cart-icon {
	margin-right: 15px;
}
.our-bordures__price-block .btn:hover .icon-shopping-cart-icon {
	background-position: -165px -137px;
}
.our-bordures .flex-block + .flex-block {
	margin-top: 50px;
}
.our-bordures__bottom {
    padding-top: 68px;
    padding-bottom: 84px;
}
.our-bordures__bottom .header-top__prices * {
	color: #ffffff;
}
/*our bordures block styles end*/

/*our projects block styles start*/
.our-projects .flex-block {
    padding-bottom: 96px;
}
.our-projects .stripe__background-white {
	background: url(../img/transparent-6.png) no-repeat;
}
.our-projects .our-projects__block + .our-projects__block {
	margin-top: 27px;
}
.our-projects__block {
	position: relative;
}
.our-projects__text {
	display: none;
    position: absolute;
    height: 98%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 6px 9px;
}
.our-projects__block:hover .our-projects__text {
    display: block;
}
.our-projects__text-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    padding: 6px 9px;
    border: 1px solid hsla(0,0%,100%,.6);
}
.our-projects__text span:first-child {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 700";
	font-size: 12px;
	text-transform: uppercase;
}
.our-projects img {
    max-width: 100%;
    height: 100%;
}
.our-projects__text span:last-child {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 300";
	font-size: 12px;
	line-height: 20px;
}
.our-projects select {
    height: 48px;
    width: 100%;
    padding: 0 21px;
    color: #9d9d9d;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.09);
            box-shadow: inset 0 0 3px rgba(0,0,0,.09);
    border: 1px solid hsla(0,0%,84%,.77);
    -webkit-appearance: none;
    background: #f4f4f4 url(../img/arrow-down-icon.png) no-repeat 96%;
    line-height: 1em;
    text-indent: .01px;
    -o-text-overflow: "";
       text-overflow: "";
    -moz-appearance: none!important;
         appearance: none!important;
}
.our-projects select::-ms-expand {
    display: none;
}
.our-projects .main-banner__form {
	width: 100%;
}
.our-projects__form-part {
	
}
.our-projects__form-part > a {
	color: #000000;
	font-family: "Museo Sans Cyrl 500";
	font-size: 12px;
	line-height: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.our-projects__form-part a span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.our-projects__form-part span span {
	display: inline-block;
	margin-right: 7px;
}
.our-projects__form-part hr {
	height: 1px;
	background-color: #d5d5d5;
	opacity: 0.61;
}
.our-projects__callback {
	color: #000000;
	font-family: "Museo Sans Cyrl 300";
	font-size: 13px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-left: 21px;
	border-left: 8px solid #14662d;
}
.our-projects__callback .callback-bold {
	font-family: "Museo Sans Cyrl 700";
	font-size: 14px;
}
.our-projects__callback .callback-green a {
	color: #14662d;
	font-family: "Museo Sans Cyrl 700";
	text-decoration: underline;
}
.our-projects__callback,
.our-projects__callback span + span {
	margin-top: 15px;
}
/*our projects block styles end*/

/*articles block styles start*/
.articles {
	background: url(../img/transparent-3.png) no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
}
.articles__block span {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 700";
	font-size: 16px;
	display: inline-block;
    margin-top: 34px;
}
.articles__block p {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 300";
	font-size: 14px;
    margin-top: 20px;
}
.articles__block .btn {
	width: 50%;
	margin-top: 30px;
}
.articles .flex-block {
	margin: 77px 0;
}
/*articles block styles end*/

/*faq block styles start*/
.faq {
	position: relative;
}
.faq .flex-block + .flex-block {
	margin-top: 80px;
}
.faq .flex-block:last-child {
	margin-bottom: 135px;
}
.faq .avatar {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	text-transform: uppercase;
    min-width: 51px;
	height: 51px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.faq__question .avatar {	
	background-color: #e83838;
}
.faq__answer .avatar {	
	background-color: #14662d;
}
.faq__block .faq__question,
.faq__block .faq__answer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.faq__block .faq__question {
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;	
}
.faq__block .faq__answer {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 16px;
}
.faq__text {
    max-width: 85%;
}
.faq__question .faq__text span {
    color: #000000;
	font-family: "Museo Sans Cyrl 700";
	font-size: 16px;
}
.faq__answer .faq__text {
    background-color: #efefef;
    padding: 20px 32px;
}
.faq .faq__background {
    width: 100%;
    height: 555px;
    background: url(../img/transparent-4.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position-y: 100px;
    position: absolute;
    z-index: -1;
    bottom: 0;
}
/*faq block styles end*/

/*stripe-3 block styles start*/
.stripe-3 {

}
.bold-text {
	font-family: "Museo Sans Cyrl 900";
}
.stripe-3 {
    background: url(../img/stripe-2.png) no-repeat;
    -webkit-background-size: auto 130%;
            background-size: auto 130%;
    background-position-y: -40px;
}
/*stripe-3 block styles end*/

/*stripe-4 block styles start*/
.stripe-4 {
	background: url(../img/stripe-3.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position-y: -390px;
}
.stripe-4 p {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 700";
	font-size: 14px;
}
/*stripe-4 block styles end*/

/*map styles start*/
.map iframe {
    height: 341px;
    width: 100%;
}
/*map styles end*/

/* MAIN STYLES END */


/* FOOTER STYLES START */
.footer {
	background: url(../img/stripe-4.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position-y: -170px;
    position: relative;
}
.contact-info__block {
	background: url(../img/transparent-5.png) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    padding: 57px 57px 28px 57px;
    text-align: left;
    position: absolute;
    z-index: 999;
    bottom: 150px;
}
.contact-info__block .bold-text {
	font-family: "Museo Sans Cyrl 700";
}
.contact-info__title {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 700";
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: -7px;
}
.footer hr {
	width: 30px;
	height: 3px;
	background-color: #ffffff;
	float: left;
}
.contact-info__address{
	clear: left;
}
.contact-info__address,
.contact-info__phone {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 300";
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
.contact-info__address {
	margin-top: 62px;
}
.contact-info__phone {
	margin-top: 45px;
}
.contact-info__address .icon ,
.contact-info__phone .icon {
	position: absolute;
	left: -30px;
}
.contact-info__block .btn-white {
	text-transform: initial;
	border: none;
	margin-top: 46px;
}
.contact-info__block .btn-white a {
	color: #222225;
}
.contact-info__bottom-text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 28px;
	opacity: 0.63;
	color: #010101;
}
.contact-info__bottom-text span:last-child {
	display: inline-block;
	margin-left: 10px;
	font-size: 10px;
}
.footer-middle,
.footer-right {
	padding-top: 50px;
	padding-bottom: 123px;
}
.footer-middle__text {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 700";
	font-size: 16px;
	display: inline-block;
}
.footer-middle .text-orange {
	font-family: "Museo Sans Cyrl 900";
	font-size: 28px;
	display: inline-block;
	margin-top: 8px;
}
.footer-middle span + span {
	margin-top: 15px;
}
.footer-right span {
	color: #ffffff;
	font-family: "Museo Sans Cyrl 100";
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	display: inline-block;
}
.footer-right .btn {
	margin-top: 18px;
}
/* FOOTER STYLES END */