@import url('fonts.css');

/* STYLE RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body * {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header>.row>.col-md-12 {
	padding: 0;
}
img {
	max-width: 100%;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 100%;
}
.container-fluid>.row {
	margin: 0;
}
/* STYLE RESET END */


/* CUSTOM STYLES START */
a {
	cursor: pointer;
}

.clear {
	clear: both;
}

.red-text {
	color: #ff0125 !important;
	font-size: inherit;
}

.green-text {
	color: #4cc95a !important;
	font-size: inherit;
}

.bold-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	font-size: inherit;
}

.divider {
	border-top: 3px solid #f8f8f8;
	margin: 0;
}

.btn {
	min-width: 84px;
	border-radius: 5px;
	border: 1px solid rgba(100, 105, 109, 0.34);
	background-color: #ffffff;
	color: #25282a;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .7px;
}

.btn:hover {
	background-color: #4cc95a;
	border-color: #4cc95a;
	color: #ffffff;
}

.btn.check-btn {
	height: 40px;
	margin-left: 19px;
	border-radius: 5px;
	background-color: #4cc95a;
	color: #ffffff;
	border: none;
	min-width: 115px;
}

.btn.check-btn:hover {
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	background-color: #33ac40;
}

.arrow-span {
	display: inline-block;
	position: relative;
	bottom: 3px;
	width: 5px;
	height: 5px;
	border: 1px solid;
	border-color: #000 #000 transparent transparent;
	transform: rotate(45deg);
}

.todays-deals__price .old-price {
	color: #626262;
	font-size: 18px;
	text-decoration: line-through;
}

.content-block__title {
	margin-top: 50px;
}

.row-margin-fix {
	margin: 0 -30px;
}

.content-block {
	margin-top: 29px;
	padding-bottom: 50px;
}

.content-block__title-text {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 400;
}

.content-block__title-text span {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Bold", sans-serif;
	font-weight: 700;
}

.content-block__title .more-link {
	color: #25282a;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: .7px;
	float: right;
}

.content-block__title .more-link:hover {
	color: #ff0125;
}

.content-block__title .more-link:hover .arrow-span {
	border-color: #ff0125 #ff0125 transparent transparent;
}
/* CUSTOM STYLES END */


/* HEADER STYLES START */
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #191c1f;
	padding: 15px 28px;
}

.logo a {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.logo span {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	background-color: #ff0125;
	padding: 3.5px 9px;
	border-radius: 10px;
	position: relative;
	margin-left: 11px;
}

.logo span:after {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-color: #ff0125;
	top: 97%;
	left: 12px;
}

.search-toggle-btn {
	display: none;
}

.search .form-group {
	position: relative;
	margin: 0;
}

.search .form-group input {
	width: 32vw;
	min-width: 300px;
	height: 40px;
	padding: 10px 21px;
	font-size: 13px;
	color: #b0b0b0;
	font-family: 'RobotoCondensed', sans-serif;
	border: none;
	border-radius: 20px;
	background-color: #25282a;
}

.search .form-group input::placeholder {
	color: #b0b0b0;
}

.search .form-group input:focus {
	outline: none;
	border: 1px solid #d2d2d2;
	background-color: #ffffff;
	color: #191c1f;
}

.search .form-group input:focus::placeholder {
	color: #191c1f;
}

.search .form-group input:focus::-ms-input-placeholder {
	color: #191c1f;
}

.search .form-group input:focus + button {
	color: #ff0125;
}

.search .form-group button {
	position: absolute;
	color: #fff;
	top: 45%;
	width: 20px;
	height: 20px;
	padding: 0;
	right: 10px;
	background: transparent;
	font-size: 20px;
	transform: translateY(-50%);
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .right-text span {
	font-size: 15px;
	color: #8e8e8e;
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.75px;
}

.main-menu {
	background-color: #25282a;
	width: 100%;
	display: flex;
	height: 60px;
	position: relative;
}

.main-menu .menu-item {
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-top: 2px solid transparent;
	border-right: 1px solid #000000;
	border-left: 1px solid #34383a;
	border-bottom: 2px solid transparent;
}

.main-menu .menu-item a {
	text-decoration: none;
	text-align: center;
}

.main-menu .menu-item a > span {
	color: #ffffff;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .7px;
}

.main-menu .menu-item:hover {
	background-color: #191c1f;
	border-bottom: 2px solid #ff0128;
}

.main-menu .menu-subitem {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	background-color: #0a0b0c;
	opacity: 0.98;
	z-index: 15;
	padding: 40px 57px;
	align-items: flex-start;
	justify-content: space-between;
}

.main-menu .menu-item:hover .menu-subitem {
	display: flex;
}

.main-menu .menu-item .menu-subitem__left {
	display: flex;
	flex-basis: 60%;
	flex-direction: column;
	flex-wrap: wrap;
	height: 207px;
}

.main-menu .menu-item .menu-subitem__left li {
	color: #d0d0d0;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	padding: 15px 0;
	width: 200px;
}

.main-menu .menu-item .menu-subitem__left li:hover {
	color: #ff0125;
}

.main-menu .menu-item .menu-subitem__left li + li {
	border-top: 1px solid #232222;;
}

.main-menu .menu-item .menu-subitem__right {
	flex-basis: 40%;
}

.main-menu .menu-item .menu-subitem__right > span {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 15px;
}

.menu-subitem__right-block {
	margin-top: 19px;
	display: flex;
	max-height: 170px;
}

.menu-subitem__right-block > div:first-child {
	flex-basis: 50%;
}

.menu-subitem__right-block > div:last-child {
	flex-basis: 50%;
}

.menu-subitem__right-block:after {
	content: '';
	clear: both;
}

.menu-subitem__right-block .content-block__latest-small-date {
	margin-top: 0;
}

.menu-subitem__right-block .content-block__small-title span {
	color: #ffffff;
}

.menu-subitem__right-block .content-block__latest-small-text {
	color: #626262;
}

.menu-subitem__right-block img {
	max-height: 175px;
}

.mob-menu__burger {
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.mob-menu__burger span {
	display: inline-block;
	width: 30px;
	height: 5px;
	background-color: #fff;
}

.mob-menu__burger .fa {
	display: none;
}

.menu-close span{
	display: none;
}

.menu-close .fa {
	display: inline;
	font-size: 30px;
	color: #fff;
}

/*.menu-close span:first-child {*/
	/*position: relative;*/
	/*top: 5px;*/
	/*right: 0;*/
	/*transform: rotate(45deg);*/
/*}*/

/*.menu-close span:last-child {*/
	/*position: relative;*/
	/*top: 0;*/
	/*right: 0;*/
	/*transform: rotate(-45deg);*/
/*}*/

.mob-menu {
	position: fixed;
	top: 0;
	left: -300px;
	transition: left .5s ease;
	height: 100vh;
	width: 250px;
	padding: 25px;
	z-index: 15;
	background-color: rgba(0,0,0,.8);
}

.mob-menu.activated {
	left: 0;
	transition: left .5s ease;
}

.mob-menu .menu-item {
	margin-bottom: 10px;
}

.mob-menu .menu-item a {
	text-decoration: none;
}

.mob-menu .menu-item span {
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
}
/* HEADER STYLES END */


/* MAIN STYLES START */
.content .content-block__banner {
	background: linear-gradient(
			rgba(11, 11, 11, 0.72),
			rgba(11, 11, 11, 0.72)
	), url("../img/background-1.jpg") no-repeat;
	background-size: cover;
	background-position-y: 40%;
}

.content .content-block__banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 440px;
}

.content .content-block__banner-text span {
	text-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	height: 51px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 70px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.content .content-block__banner-text span:last-child {
	background-color: #191c1f;
	height: 90px;
	padding: 20px;
	margin-top: 22px;
}


/* latest reviews block styles start*/
.content-block__latest-big-date {
	color: #6c6c6c;
	margin-top: 19px;
}

.content-block__latest-big-date span {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.content-block__big-title {
	color: #25282a;
	margin-top: 28px;
}

.content-block__big-title a {
	color: #25282a;
	text-decoration: none;
}

.content-block__big-title span {
	font-size: 24px;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.content-block__big-text {
	color: #494747;
	margin-top: 24px;
}

.content-block__big-text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.content-block__big-text p + p {
	margin-top: 30px;
}

.content-block__latest-big .btn {
	margin-top: 26px;
}

.content-block__latest-small-date {
	color: #6c6c6c;
	margin-top: 19px;
}

.content-block__latest-small-date span {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.content-block__small-title {
	margin-top: 12px;
}

.content-block__small-title a {
	color: #25282a;
	text-decoration: none;
}

.content-block__small-title a:hover {
	color: #ff0125;
}

.content-block__small-title span {
	font-size: 18px;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
}

.content-block__latest-small-text {
	color: #484747;
	margin-top: 15px;
}

.content-block__latest-small-text p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.right-block .row + .row .content-block__latest-small {
	margin-top: 35px;
}
/* latest reviews block styles end*/

/* today's deals block styles start */
.todays-deals {
	background-color: #f8f8f8;
}

.todays-deals__img {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.todays-deals__img img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	max-width: unset;
}

.todays-deals__img:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.todays-deals__title {
	margin-top: 15px;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.todays-deals__title a {
	color: #25282a;
	text-decoration: none;
}

.todays-deals__price span {
	margin-top: 15px;
	font-family: 'Roboto-Regular', sans-serif;
	color: #4cc95a;
	font-size: 24px;
	font-weight: 400;
}

.btn.todays-deals__btn {
	width: 90%;
	margin: 17px 5% 0;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.todays-deals__slick {
	position: relative;
	padding: 0;
	margin-bottom: 50px;
}

.todays-deals__slick .block {
	margin: 0 5px;
}

.carousel-arrows {
	font-size: 25px;
	line-height: 20px;
	color: #bcbbbb;
	cursor: pointer;
}

.carousel-arrows.left {
	position: absolute;
	left: -46px;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-arrows.right {
	position: absolute;
	right: -46px;
	top: 50%;
	transform: translateY(-50%);
}
/* today's deals block styles end */


/* about block styles start */
.about-block {
	margin: 65px;
	padding: 34px 0;
	background: url("../img/background-2.png") 0 0 no-repeat;
	background-size: contain;
	background-position-y: 50%;
}

.about-block .content-block__title-text {
	display: inline-block;
	margin-top: 135px;
}

.about-block .content-block__big-text {
	margin-top: 15px;
}

.about-block .content-block__small-title {
	margin-top: 30px;
}
/* about block styles end */

/* trending block styles start */
.trending-block {
	margin-bottom: 50px;
}

.trending-block .content-block__latest-big-img {
	margin-top: 16px;
}

.trending-block .content-block__latest-big-date {
	color: #6c6c6c;
	margin-top: 15px;
}

.trending-block .content-block__small-title {
	margin-top: 13px;
}

.trending-block .content-block__latest-small-img {
	margin-top: 16px;
}
/* trending block styles end */


/* terms block styles start */

.terms-block {
	margin-bottom: 50px;
}

.terms-block .divider {
	border-top: 3px solid #25282a;
	margin-top: 29px;
}

.terms-block .terms-block__text-wrapper {
	color: #494747;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.terms-block .terms-block__title {
	margin-top: 25px;
}

.terms-block .red-text {
	text-decoration: underline;
}

/* terms block styles end */


/* bottom banner block styles start */
.bottom-banner {
	background-color: #f8f8f8;
	padding: 50px 0;
}
.bottom-banner .ad-link {
	display: flex;
	min-height: 120px;
	max-height: 200px;
	overflow: hidden;
	align-items: center;
	position: relative;
}
.bottom-banner .ad-link:before {
	content: '';
	display: block;
	padding-top: 25%;
}
.bottom-banner .ad-link img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* bottom banner block styles end */


/* ===============CONTACT=US=PAGE=================*/

.banner-block {
    height: 240px;
    background: url("../img/background-4.jpg") 50% 54% no-repeat;
    position: relative;
}

.banner-block__title {
    position: absolute;
    bottom: 0;
}

.banner-block__title span {
	text-shadow: 0 4px 7px rgba(0,0,0,.2);
	color: #fff;
	font-size: 70px;
	display: inline-block;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #191c1f;
}

.banner-block__title > span {
	padding: 10px 20px;
	font-family: 'Roboto-Light', sans-serif;
}

.contactus-block {
	padding: 50px 0;
}

.contactus-block .content-block__big-text span,
.contactus-block .content-block__big-text p {
	font-size: 18px;
}



.contactus-block .socials li a {
	width: 48px;
	height: 48px;
	font-size: 20px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	border-radius: 23px;
	background-color: rgba(0, 0, 0, .3);
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 8px;
}

.contactus-block .socials li a:hover {
	background-color: #2200f2;
}

.contactus-block .divider {
	margin: 49px 0;
}

.contactus-block__form input,
.contactus-block__form textarea {
	border-radius: 25px;
	border: 1px solid #b2b2b2;
	background-color: #ffffff;
	height: 50px;
	padding: 18px 22px;
	outline: none;
	font-size: 18px;
	margin-top: 17px;
	color: #25282a;
}

.contactus-block__form input::placeholder,
.contactus-block__form textarea::placeholder {
	color: #b2b2b2;
}

.contactus-block__form label {
	color: #494747;
	font-size: 16px;
}

.contactus-block__form textarea {
	resize: none;
	height: 150px;
}

.contactus-block__form .success input {
	box-shadow: inset 0 1px 8px rgba(16, 191, 252, 0.78);
	border-radius: 25px;
	border: 1px solid #81abfe;
	background-color: #ffffff;
}

.error {
	position: relative;
}

.contactus-block__form .error input {
	box-shadow: inset 0 1px 8px rgba(255, 1, 37, 0.78);
	border-radius: 25px;
	border: 1px solid #ff0125;
	background-color: #ffffff;
}

.error:after {
	content: 'Error';
	position: absolute;
	bottom: 16px;
	right: 20px;
	color: #ff0125;
	font-size: 16px;
	font-weight: 400;
}

.contactus-block__form .form-group {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 0;
}

.btn.contact-us-btn {
	width: 250px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff0125;
	border-color: transparent;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.related-reviews {
	padding-bottom: 50px;
}

.related-reviews .content-block__latest-small {
	margin-top: 29px;
}

/* ===============CONTACT=US=PAGE=================*/


/* ===============CATEGORY=PAGE=================*/

.category-block {
	padding-bottom: 50px;
}

.category-block .second-block .content-block__latest-small {
	margin-top: 29px;
}

.category .banner-block {
	height: 240px;
	background: url("../img/phone.jpg") 50% 54% no-repeat;
	position: relative;
}


/* ===============CATEGORY=PAGE=================*/


/* ===============ARTICLE=PAGE=================*/

.article blockquote {
	padding: 0 18px;
	margin: 0 0 20px;
	border-left: 5px solid #eee;
}

.content-block__share-buttons .content-block__share-item:last-child i {
	font-family: 'Font Awesome 5 Free';
}

.content-block__share-item {
	min-width: 115px;
	height: 32px;
	border: none;
	border-radius: 2px;
	margin: 10px 6px 0 0;
	color: #ffffff;
}

.content-block__share-item span {
	margin: 0 28px;
}

.content-block__share-buttons .facebook {
	background-color: #3a589e;
}

.content-block__share-buttons .google-plus {
	background-color: #df4a36;
}

.content-block__share-buttons .twitter {
	background-color: #429cd7;
}

.content-block__share-buttons .pinterest {
	background-color: #cd1f29;
}

.content-block__share-buttons .layer-group {
	background-color: #323b44;
}

.article-block .content-block__latest-small {
	margin-top: 29px;
}

.article-block .content-block__title {
	margin-top: 29px;
}

.article-block .article-ad-block img {
	max-width: 100%;
	margin: 30px auto 0;
	display: block;
}

.article .banner-block {
	background: url("../img/mouse.jpg") 50% 54% no-repeat;
	padding: 20px 0;
	height: auto;
	background-size: cover;
}

.article .banner-block__title {
	position: static;
}

.article .banner-block__title > span {
	font-size: 40px;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	max-width: 953px;
}

.article .banner-block__subtitle > span {
	color: #ffffff;
	font-size: 18px;
	line-height: 70px;
	text-transform: uppercase;
	background-color: #191c1f;
	opacity: 0.7;
	padding: 20px;
}

.article .article-block__info {
	background-color: #f8f8f8;
	padding: 46px 0;
	margin: 0;
}

.article .article-block__info p {
	color: #494747;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
}

.article .article-block__info p+p {
	margin-top: 40px;
}

.article .content-block__table table {
	width: 100%;
	margin-top: 62px;
}

.article .article-block__pros-and-cons table {
	width: 100%;
	padding: 0 20px;
}

.article .content-block__table table tr {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 30px;
}

.article .content-block__table table tbody tr td:first-child {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.article .content-block__table table tbody tr td:first-child a {
	font-size: inherit;
	color: #616161;
	max-width: 100%;
}

.article .content-block__table table tbody tr:hover {
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.08);
	position: relative;
	z-index: 10;
}

.article .content-block__table table tbody tr:hover td:first-child a {
	color: #ff0125;
	text-decoration: underline;
	font-size: inherit;
}

.article .content-block__table table tbody tr:hover td:first-child .tagline {
	text-decoration: none;
	color: #707070;
	font-size: 12px;
}

.article .content-block__table table tbody tr td:first-child .tagline {
	display: block;
	color: #707070;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .3px;
	margin-top: 5px;
}

.article .content-block__table table tbody tr:hover td:first-child .editors-choice {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
}

.article .content-block__table table tbody tr td:first-child .editors-choice {
	display: block;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .3px;
	margin-top: 5px;
	border-radius: 3px;
	background-color: #ff0125;
	padding: 4px;
}

.article .content-block__table table tbody tr:hover td:nth-child(5) span {
	background-color: #ffffff;
	width: 45px;
	height: 45px;
	border-radius: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.article .content-block__table table tbody tr:hover td:nth-child(6) {
	color: #33ac40;
}

.article .content-block__table table tr th,
.article .content-block__table table tr td {
	font-size: 15px;
	font-weight: 500;
	display: flex;
	align-items: center;
	min-height: 80px;
	height: 80px;
}

.article .content-block__table table tbody tr:nth-child(2n+1) {
	background-color: #fcfdfe;
}

.article .content-block__table table tbody tr:nth-child(2n) {
	background-color: #f9f9fe;
}

.article .content-block__table table tr th {
	color: #293034;
	text-transform: uppercase;
	font-weight: 700;
}

.article .content-block__table table tr td {
	color: #616161;
	font-size: 16px;
}

.article .content-block__table table tr td:nth-child(1),
.article .content-block__table table tr th:nth-child(1) {
	flex-basis: 24%;
}

.article .content-block__table table tr th:nth-child(2),
.article .content-block__table table tr td:nth-child(2) {
	flex-basis: 10%;
}

.article .content-block__table table tr th:nth-child(3),
.article .content-block__table table tr td:nth-child(3) {
	flex-basis: 25%;
	max-width: 100%;
}

.article .content-block__table table tr th:nth-child(4),
.article .content-block__table table tr td:nth-child(4) {
	flex-basis: 10%;
}

.article .content-block__table table tr th:nth-child(5) {
	flex-basis: 10%;
	text-align: center;
	color: #19b42b;
	background: linear-gradient(to right, #f8f8f8, #ffffff);
	padding: 0 5px;
}
.article .content-block__table table tr td:nth-child(5) {
	flex-basis: 10%;
	justify-content: center;
	background-color: #d3ffd8;
	color: #19b42b;
	font-size: 16px;
	font-weight: 700;
	padding: 0 5px;
}

.article .content-block__table table tr th:nth-child(6),
.article .content-block__table table tr td:nth-child(6) {
	flex-basis: 20%;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 700;
}

.article .article-block .left-block .content-block__title-text {
	font-weight: bold;
}

.article .article-block .article-block__text {
	margin: 29px 0;
}

.article .article-block .article-block__text p {
	color: #494747;
	font-size: 18px;
	line-height: 27px;
}

.article .article-block .article-block__text p+p {
	margin-top: 40px;
}

.article .article-block .article-block__img {
	max-width: 100%;
	max-height: 280px;
	width: 500px;
	overflow: hidden;
	float: right;
	margin: 0 0 10px 20px;
	position: relative;
}

.article .article-block .article-block__img img {
	max-width: 100%;
}

.article .article-block .article-block__img-text  {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 17px;
	background-color: #191c1f;
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.arrow-cirle {
	width: 20px;
	height: 20px;
	line-height: 15px;
	border-radius: 10px;
	border: 2px solid;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

.arrow-cirle .fa {
	line-height: 16px;
	font-size: 16px;
}

.article .article-block__pros-and-cons {
	padding-bottom: 25px;
}

.article .article-block__pros-and-cons .article-block__pros-and-cons-title {
	padding: 30px 0 30px 30px;
	line-height: 78px;
	color: #293034;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.article .article-block__pros-and-cons .article-block__pros-and-cons-title.green-text {
	padding: 30px 0;
	color: #4cc95a;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.article .article-block__pros-and-cons .pros:nth-child(2n+1),
.article .article-block__pros-and-cons .cons:nth-child(2n+1) {
	background-color: #fcfdfe;
}

.article .article-block__pros-and-cons .pros:nth-child(2n),
.article .article-block__pros-and-cons .cons:nth-child(2n) {
	background-color: #f9f9fe;
}

.article .article-block__pros-and-cons .pros,
.article .article-block__pros-and-cons .cons {
	height: 70px;
	padding: 30px 30px 30px 79px;
	position: relative;
	display: flex;
	align-items: center;
	color: #25282a;
	font-size: 18px;
	font-weight: 400;
}

.article .article-block__pros-and-cons .pros i {
	height: 30px;
	width: 30px;
	display: inline-flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	border: 3px solid #4cc95a;
	border-radius: 15px;
	color: #4cc95a;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.article .article-block__pros-and-cons .cons i {
	height: 30px;
	width: 30px;
	display: inline-flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	border: 3px solid #bdbdbd;
	border-radius: 15px;
	color: #bdbdbd;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.article-block__pros-and-cons-block {
	padding: 0;
}

.content-block__item-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article .content-block__item .check-btn {
	width: 432px;
	height: 60px;
	border-radius: 5px;
	background-color: #4cc95a;
	display: flex;
	align-items: center;
	justify-content: center;
}

.article .content-block__item .check-btn:hover {
	background-color: #33ac40;
}

.article .content-block__item .check-btn .fa-shopping-cart {
	margin-right: 5px;
	font-size: 26px;
}

.article .content-block__item .check-btn .mobile-hidden {
	margin: 0 5px;
}

.article .content-block__item {
	position: relative;
	padding-bottom: 50px;
}

.article .content-block__item + .content-block__item {
	padding-top: 50px;
	border-top: 3px solid #f8f8f8;
}

.article .content-block__item .content-block__item-rating {
	width: 60px;
	height: 150px;
	border-radius: 5px;
	background-color: #f9f9fe;
	position: absolute;
	right: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article .content-block__item .content-block__item-rating-square {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 56px;
	align-items: center;
	color: #25282a;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}

.article .content-block__item .content-block__item-rating-square i {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #ffffff;
	color: #25282a;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	transition: border 0.2s ease;
}

.article .content-block__item .content-block__item-rating-square i:hover {
	border: 1px solid rgba(100, 105, 109, 0.34);
}

.article .content-block__item .content-block__item-rating-square.choosen-item {
	color: #4cc95a;
}

.article .content-block__item .content-block__item-rating-square.choosen-item i {
	background-color: #4cc95a;
	color: #ffffff;
}



/* ===============ARTICLE=PAGE=================*/


/* MAIN STYLES END */


/* FOOTER STYLES START */
.footer {
	background: #191c1f url("../img/background-3.png") bottom no-repeat;
}

.footer-title {
	color: #ffffff;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 45px;
}

.footer-title .red-text {
	text-decoration: none;
}

.footer-title .red-text:hover {
	color: #ff0125;
}

.footer-menu {
	margin: 48px -15px;
}

.footer-menu__block + .footer-menu__block {
	margin-top: 48px;
}

.footer-menu__title .footer-menu__title-text {
	color: #ffffff;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-menu__list {
	list-style: none;
	margin-top: 14px;
}

.footer-menu__list li {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.footer-menu__list li a {
	color: #d0d0d0;
	text-decoration: none;
}

.footer-menu__list li a:hover {
	color: #ff0125;
}

.footer-nav__container {
	background-color: rgba(129, 129, 129, .1);
}

.footer-nav__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 46px;
}

.footer-nav__container .row + .row .footer-nav__block {
	margin-top: 36px;
	margin-bottom: 52px;
}

.footer-nav__copyright,
.socials,
.footer-nav__list {
	display: flex;
}

.footer-nav__list li {
	padding-right: 20px;
}

.footer-nav__list li a {
	color: #ffffff;
	font-family: 'Roboto-Bold', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}

.footer-nav__list li a:hover {
	color: #ff0125;
}

.footer-nav__list li + li {
	padding-left: 20px;
	border-left: 2px solid #ffffff;
}

.footer-nav__container .socials li a {
	width: 32px;
	height: 32px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 5px;
}

.footer-nav__container .socials li a:hover {
	background-color: #2200f2;
}

.footer-nav__copyright li {
	color: #818181;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 12px;
	font-weight: 300;
}

.footer-nav__copyright li a {
	color: #818181;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
	padding-right: 5px;
}

.footer-nav__copyright li a:hover {
	color: #ffffff;
}

.footer-nav__copyright li + li a {
	padding-left: 5px;
	border-left: 1px solid #818181;
}
/* FOOTER STYLES END */