@import url('fonts.css');

/* STYLE RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body * {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header>.row>.col-md-12 {
	padding: 0;
}
img {
	max-width: 100%;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 100%;
}
.container-fluid>.row {
	margin: 0;
}
/* STYLE RESET END */


/* CUSTOM STYLES START */
.arrow-span {
	display: inline-block;
	position: relative;
	bottom: 3px;
	width: 5px;
	height: 5px;
	border: 1px solid;
	border-color: #000 #000 transparent transparent;
	transform: rotate(45deg);
}

.content-block_title {
	margin-top: 50px;
}

.content-block {
	margin-top: 29px;
}

.content-block_title-text {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 400;
}

.content-block_title-text span {
	color: #25282a;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Roboto-Bold", sans-serif;
	font-weight: 700;
}

.content-block_title .more-link {
	color: #25282a;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: .7px;
	vertical-align: center;
	float: right;
}
/* CUSTOM STYLES END */


/* HEADER STYLES START */
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #191c1f;
	padding: 15px 28px;
}

.logo a {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.logo span {
	font-family: 'AvenirNextCondensed-Bold', sans-serif;
	color: #f6f6f6;
	font-size: 20px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	background-color: #ff0125;
	padding: 3.5px 9px;
	border-radius: 10px;
	position: relative;
	margin-left: 11px;
}

.logo span:after {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-color: #ff0125;
	top: 100%;
	left: 12px;
}

.search .form-group {
	position: relative;
	margin: 0;
}

.search .form-group input {
	width: 32vw;
	min-width: 300px;
	height: 40px;
	padding: 10px 21px;
	font-size: 13px;
	color: #b0b0b0;
	font-family: 'RobotoCondensed', sans-serif;
	border: none;
	border-radius: 20px;
	background-color: #25282a;
}

.search .form-group input::placeholder {
	color: #b0b0b0;
}

.search .form-group input:focus {
	outline: none;
	background-color: #ffffff;
	color: #191c1f;
}

.search .form-group input:focus::placeholder {
	color: #191c1f;
}

.search .form-group input:focus + button {
	background: transparent url(../img/icons/search-red-icon.png);
}

.search .form-group button {
	position: absolute;
	top: 50%;
	right: 21px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: transparent url(../img/icons/search-icon.png);
	border: none;
	outline: none;
}

.header .right-text span {
	font-size: 15px;
	color: #8e8e8e;
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.75px;
}

.main-menu {
	background-color: #25282a;
	width: 100%;
	display: flex;
	height: 60px;
}

.main-menu .menu-item {
	color: #ffffff;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 56px;
	text-transform: uppercase;
	letter-spacing: .7px;
	white-space: nowrap;
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-top: 2px solid transparent;
	border-right: 1px solid #000000;
	border-left: 1px solid #34383a;
	border-bottom: 2px solid transparent;
}

.main-menu .menu-item:hover {
	background-color: #191c1f;
	border-bottom: 2px solid #ff0128;
}
/* HEADER STYLES END */


/* MAIN STYLES START */
.content {

}

.content .content-block_banner {
	background: linear-gradient(
			rgba(11, 11, 11, 0.72),
			rgba(11, 11, 11, 0.72)
	), url("../img/background-1.jpg") no-repeat;
	background-size: cover;
	background-position-y: 40%;
}

.content .content-block_banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 440px;
}

.content .content-block_banner-text span {
	text-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	height: 51px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 70px;
	font-weight: 700;
	line-height: 18.72px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.content .content-block_banner-text span:last-child {
	background-color: #191c1f;
	height: 90px;
	padding: 20px;
	margin-top: 22px;
}
/* MAIN STYLES END */


/* FOOTER STYLES START */

/* FOOTER STYLES END */